ion-row {
    margin-top: 0.6vh;
    div.container {
        width: 100%;
        height: 15vh;
        swiper-container {
            swiper-slide {
                height: 14vh;
                ion-col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        margin: 0;
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}